<!DOCTYPE html>
<html>
<head>
	<title>Adamlink SPARQLen met javascript</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com/css?family=Nunito:700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="stylesheet/style.css">
	<script type="text/javascript">
		document.documentElement.classList.add("enhanced")
	</script>
</head>
<body>
